*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  cursor: pointer;
}
input{
  background-color: #fff;
}
/* header */
.p-header{
  background-color: #fff;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.p-header__logo{
  padding: 30px ;
}
.header-nav{
  margin-right: 16px;
}
/* main */
.wrapper{
  background-color: #efefef;
  height: 90vh;
  padding: 20px;
}
.form-label{
  font-size: 18px;
}
.form-control{
  padding: 8px;
}
.form-control[name=content],
.form-control[name=supplement]
{
  width: 600px;
}
.title-text{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* 問題文 */
.question-text,
.question-select,
.question-correct,
.question-image,
.question-supplement{
  margin-top: 30px;
}
.id-question{
  height: 80px;
  font-size: 16px;
}
.thead{
  height: 60px;
}
.delete-btn{}

/* 作成ボタン */
.btn{
  width: 150px;
  height: 40px;
  border-radius: 16px;
  background-color: #a6bbe4;
  text-align: center;
  display: block;
  text-align: center;
  margin: 40px ;
  font-weight: bold;
} 

