[mysqld]
user=mysql
character_set_server = utf8mb4
collation_server = utf8mb4_0900_ai_ci
# MySQL8.0の認証方式にPHP側では対応していないので従来の認証方式に変える
default_authentication_plugin=mysql_native_password

# timezone
default-time-zone = SYSTEM
log_timestamps = SYSTEM

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4