body {
	overflow: hidden;
}

.contents {
	text-align: center;
}

.anchor_animation {
	top: 0;
	width: 100%;
	animation: come-down-anim 2s linear;
	padding-top: 110%;
}

@keyframes come-down-anim {
	0% {
		transform: translateY(-45%);
	}

	100% {
		transform: translateY(-20px);
	}
}

.wave_animation>svg {
	position: absolute;
	bottom: 5%;
}

.attend_button {
	width: 100%;
	padding-top: 6%;
	padding-bottom: 6%;
	font-size: 40px;
	color: aliceblue;
	font-weight: bold;
	background-color: #2E78BA;
	position: absolute;
	bottom: 0;
}

/* buttonタグのリセットCSS */
button {
	padding: 0;
	font-family: inherit;
	appearance: none;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

/* ボタンのスタイル */
.attend_button_click {
	position: relative;
	display: block;
	width: 100%;
	max-width: 320px;
	height: 64px;
	padding: 2px;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
	overflow-wrap: anywhere;
	border-radius: 32px;
	/* (buttonの高さ / 2) の値 */
	margin: 0 auto;
}

.attend_button_click::before {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: "";
	filter: blur(8px);
	border-radius: 32px;
	/* (buttonの高さ / 2) の値 */
	opacity: 0;
}

.attend_button_click_item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: #2E78BA;
	background-color: #ffffff;
	border-radius: 32px;
	/* (buttonの高さ / 2) の値 */
	font-size: 25px;
	font-weight: bold;
}

@media (any-hover: hover) {
	.attend_button_click::before {
		transition: opacity 0.2s;
		will-change: filter;
	}

	.attend_button_click:hover::before {
		opacity: 1;
	}
}

.bird {
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  animation: moving 16s linear infinite;
}

.bird.-type_2 {
  animation-delay: 1s;
}
.bird.-type_2:before,
.bird.-type_2:after {
  animation-delay: -2s;
}

.bird.-type_3 {
  animation-delay: 3s;
}

@keyframes moving {
  0% {
    top: 47vh;
    left: -2vw;
  }
  25% {
    top: 51vh;
    left: 23vw
  }
  100% {
    top: 47vh;
    left: 101vw;
  }
}

.bird:before, .bird:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  transform: rotate(-30deg);
  transform-origin: right bottom;
}

.bird:before {
  width: 100%;
  height: 1px;
  animation: leftWing 8s linear infinite;
}
.bird:after {
  width: 1px;
  height: 100%;
  animation: rightWing 8s linear infinite;
}

@keyframes leftWing {
  0%   { transform: rotate(-30deg); }
  2%   { transform: rotate(-110deg); }
  4%   { transform: rotate(-30deg); }
  6%   { transform: rotate(-110deg); }
  8%   { transform: rotate(-30deg); }
  10%  { transform: rotate(-110deg); }
  12%  { transform: rotate(-30deg); }
  30%  { transform: rotate(-30deg); }
  42%  { transform: rotate(-35deg); }
  72%  { transform: rotate(-35deg); }
  74%  { transform: rotate(10deg); }
  76%  { transform: rotate(-30deg); }
  78%  { transform: rotate(-110deg); }
  80%  { transform: rotate(-30deg); }
  82%  { transform: rotate(-110deg); }
  84%  { transform: rotate(-30deg); }
  86%  { transform: rotate(-110deg); }
  88%  { transform: rotate(-30deg); }
  90%  { transform: rotate(-110deg); }
  92%  { transform: rotate(-30deg); }
  94%  { transform: rotate(-110deg); }
  96%  { transform: rotate(-30deg); }
  98%  { transform: rotate(-110deg); }
  100% { transform: rotate(-30deg); }
}

@keyframes rightWing {
  0%   { transform: rotate(30deg); }
  2%   { transform: rotate(110deg); }
  4%   { transform: rotate(30deg); }
  6%   { transform: rotate(110deg); }
  8%   { transform: rotate(30deg); }
  10%  { transform: rotate(110deg); }
  12%  { transform: rotate(30deg); }
  30%  { transform: rotate(30deg); }
  42%  { transform: rotate(35deg); }
  72%  { transform: rotate(35deg); }
  74%  { transform: rotate(0deg); }
  76%  { transform: rotate(30deg); }
  78%  { transform: rotate(110deg); }
  80%  { transform: rotate(30deg); }
  82%  { transform: rotate(110deg); }
  84%  { transform: rotate(30deg); }
  86%  { transform: rotate(110deg); }
  88%  { transform: rotate(30deg); }
  90%  { transform: rotate(110deg); }
  92%  { transform: rotate(30deg); }
  94%  { transform: rotate(110deg); }
  96%  { transform: rotate(30deg); }
  98%  { transform: rotate(110deg); }
  100% { transform: rotate(30deg); }
}

/****** Base style. ******/
body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
}
