body {
	overflow: hidden;
}

.contents {
	text-align: center;
}

.anchor_animation {
	top: 0;
	width: 100%;
	animation: come-down-anim 2s linear;
	padding-top: 110%;
}

@keyframes come-down-anim {
	0% {
		transform: translateY(-35%);
	}

	100% {
		transform: translateY(-20px);
	}
}

.wave_animation > svg{
	position: absolute;
	bottom: 5%;
}

.attend_button {
	width: 100%;
	padding-top: 6%;
	padding-bottom: 6%;
	font-size: 40px;
	color: aliceblue;
	font-weight: bold;
	background-color: #2E78BA;
	position: absolute;
	bottom: 0;
}
