body {
    overflow: hidden;
}

/* ヘッダー */
header {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 800;
    background-color: #fff;
    top:0;
}

.p-header__logos {
    display: flex;
    width: 200px;
}

.p-header__mark {
    width: 90px;
    height: 75px;
}

.p-header__website-name {
    width: 150px;
    height: 75px;
}

/* ヘッダーの入退室のステータス */
.p-header__status {
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(134, 134, 134);
    border-radius: 5px;
    border: solid 2px rgb(134, 134, 134);;
}

.p-header__status.active {
    color: rgb(46, 119, 186);
    background-color: #e6e6e6;
    border: solid 2px rgb(46, 119, 186);
}

/* ハンバーガーメニューの線 */
.Menu-CloseBtn {
    position: relative;
    width: 60px;
    height: 60px;
    display: inline-block;
    cursor: pointer;
}

.hamburger span {
    height: 2px;
    background-color: rgb(46, 119, 186);
    position: relative;
    transition: ease 0.4s;
    /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
    display: block;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    margin: 8px 0;
}

.hamburger span:nth-child(3) {
    top: 0;
}

/* ハンバーガーメニュークリック後のスタイル */
.Menu-CloseBtn.hamburger.active span:nth-child(1) {
    top: 5px;
    transform: rotate(45deg);
}

/* ボタンの位置を固定 */
#js-menu-closebtn {
    position: fixed;
}

.Menu-CloseBtn.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.Menu-CloseBtn.hamburger.active span:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg);
}

/* ハンバーガーメニュー一覧 */
.Menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    color: #111;
    position: fixed;
    z-index: 1;
}

.Menu.active {
    background: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    height: 100vh;
    position: fixed;
    z-index: 1000;
}

.Menu-CloseBtn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    padding: 8px;
}

.Menu-CloseBtn.Menu.active {
    transform: translateX(0);
}

.Menu-CloseBtn-Icon {
    width: 32px;
    color: #111;
}

.Menu-Group {
    display: none;
}

.Menu-Group.active {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #fff;
    padding: 32px 12px;
    z-index: 1000;
}

.Menu-Group>*+* {
    border-top: solid 1px #bbb;
}

.Menu-Group-Item {
    width: 100%;
    flex: auto;
    padding: 4px;
}

.Menu-Group-Item-Link {
    padding: 1em 0.5em;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.02em;
    margin: 50px 0 50px 0;
}

.Menu-Group-Item-Link::after {
    content: "";
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2Utd2lkdGg9IjIiPiA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik05IDVsNyA3LTcgNyIgLz48L3N2Zz4=");
    width: 20px;
    display: block;
    margin-left: auto;
}

/* 入退室画面・はばずの滞在者画面切り替えバー */
.upbar-section {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #e8e8e8;
    border-bottom: solid 1px #bbb;
    /* margin-top: 75px; */
    /* position: fixed;
    top: 75px; */
    position: fixed;
    top: 60px;
    z-index: 800;
}

.upbar-section__nav {
    display: flex;
    height: 50px;
}

.upbar-section__nav__attend {
    width: 50%;
}


.status-section__nav__status {
    width: 50%;
    border-bottom: 0.3rem solid #0074BB;
}

.upbar-section__nav__attend__link {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 3, 4期生の入室状態確認機能 */
.status-section__title-gen {
    font-size: 20px;
    font-weight: bold;
}

.younger_members > h1{
    padding-top: 32%;
    padding-left: 20px;
    padding-bottom: 2%;
    color: #2E78BA;
    font-size: 25px;
    font-weight: bold;
}

.wrap {
    display: flex;
    align-items: center;
    height: 150px;
    gap: 12px;
    overflow: hidden;
    background-color: #2E78BA;
}

/* .icon_slide {
    display: flex;
} */

.icon_slide {
    display: flex;
    gap: 12px;
    animation: loop-slide 10s infinite linear 0s both;
}

/* @keyframes loop-slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
} */

@keyframes loop-slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-210%);
    }
}

.content {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
}

.content > img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}


.slide-paused:hover .icon_slide {
    animation-play-state: paused;
}

.wave {
	overflow:hidden;
	margin:0 auto;
    margin-top: -18%;
	width:100%;
	height:100%;
}

	.wave svg use {
		fill:#2E78BA;
		animation:wave linear 4s infinite;
	}

	.wave svg use:nth-of-type(2),
	.wave svg use:nth-of-type(3) {
		opacity:0.2;
	}

	.wave svg use:nth-of-type(2) {
		animation-duration:5s;
	}

	.wave svg use:nth-of-type(3) {
		animation-duration:3s;
	}

@keyframes wave {
	from {
		transform:translate(0);
	}
	to {
		transform:translate(-50%);
	}
}