input{
  cursor:pointer;
  border: #ccc 2px solid;
  border-radius: 10px;
  padding: 5px;
  width: 300px;

}

.py-4{
  padding-right: 100px;
}

.student-label{
  width: 20px;
  display: inline-block;
  text-align: right;
  margin-right: 0px;
}

.invalid-label{
  margin-left: 150px;
}

input:focus {
    border: blue 2px solid;
    outline: none;
    background-color:rgba(100,149,237,0.3)
}

.top-title p{
  margin:16px;
}

.head-title{
  display:block;
  margin-right: 50px;
  line-height: 60px;
  font-size:18px;
}

.edit_btn{
  cursor:pointer;
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-weight: 700;
  border-radius: 9999px;
  padding-top: 0.5rem/* 8px */;
  padding-bottom: 0.5rem/* 8px */;
  padding-left: 1rem/* 16px */;
  padding-right: 1rem/* 16px */;
  height: 65px;
  line-height: 45px;
}

.edit_btn:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(185 28 28 / var(--tw-bg-opacity));
}

.send_btn{
  cursor:pointer;
  --tw-bg-opacity: 1;
  background-color: rgb(6 128 239 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-weight: 700;
  border-radius: 9999px;
  padding-top: 0.5rem/* 8px */;
  padding-bottom: 0.5rem/* 8px */;
  padding-left: 1rem/* 16px */;
  padding-right: 1rem/* 16px */;
  height: 65px;
  line-height: 45px;
}

.send_btn:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(6 68 185 / var(--tw-bg-opacity));
}


.btn_wrapper{
  text-align: center;
}

.update_btn{
  --tw-bg-opacity: 1;
  background-color: rgb(34 139 34 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-weight: 700;
  width: 600px;
  border-radius: 9999px;
  padding-top: 0.8rem/* 8px */;
  padding-bottom: 0.8rem/* 8px */;
  padding-left: 1rem/* 16px */;
  padding-right: 1rem/* 16px */;
}
.update_btn:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(0 100 0 / var(--tw-bg-opacity));
}

.cyan{
  background-color:  #0071bc;;
}

.btn-big{
  border-radius: 9999px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  justify-content: center;
  align-items: center;
  display: flex;
}

