.fa-solid.fa-arrow-left{
  color: blue;
}


.table{
  margin-top: 150px;

}

.profile{
  position:absolute;
  top:0;
}

.git {
  position: absolute;
  top:120px;
  right: 20px;
  margin-right: 5px;
  font-size: 25px;
}



.follow{
  position: absolute;
  top:170px;
  right: 0px;
}