.fa-solid.fa-arrow-left{
  color: blue;
}


.table{
  margin-top: 150px;

}

.profile{
  position:absolute;
  top:0;
}

.git {
  position: absolute;
  top:150px;
  right: 20px;
  margin-right: 5px;
  font-size: 25px;
}

.insta{
  top:150px;
  font-size: 25px;
}